
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post">
    登录名：
    <input name="uname" type="text" value="" />
    <br />
    <br />
    <button type="submit">login</button>
</form>

